<!-- Footer Start -->
<div class="footer container-fluid position-relative bg-dark bg-light-radial text-white-50 py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-6 pe-lg-5">
            <a href="index.ejs" class="navbar-brand">
                <h1 class="m-0 display-4 text-uppercase text-white"><i
                        class="bi bi-building text-primary me-2"></i>CARZISE</h1>
            </a>
            <p>Welcome to CARZISE, where we bring your dream car to life! Whether you’re looking for cutting-edge
                technology, thrilling performance, or unmatched comfort, we have the perfect vehicle for you</p>
            <p><i class="fa fa-map-marker-alt me-2"></i>Banaswadi,Bangalore,India</p>
            <p><i class="fa fa-phone-alt me-2"></i>+91 12345 67890</p>
            <p><i class="fa fa-envelope me-2"></i>carzisee@gmail.com</p>
            <div class="d-flex justify-content-start mt-4">
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2"
                    href="https://x.com/?lang=en-in&mx=2"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="https://www.facebook.com/"><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0 me-2" href="https://in.linkedin.com/"><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-lg btn-primary btn-lg-square rounded-0" href="https://www.instagram.com/"><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-6 ps-lg-5">
            <div class="row g-5">
                <div class="col-sm-6">
                    <h4 class="text-white text-uppercase mb-4">Quick Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="index.ejs"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-white-50 mb-2" href=" /carzise_about.ejs"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-white-50 mb-2" href=" /carzise_service.ejs"><i class="fa fa-angle-right me-2"></i>Our
                            Services</a>
                        <a class="text-white-50 mb-2" href=" /carzise_team.ejs"><i class="fa fa-angle-right me-2"></i>Meet The
                            Team</a>
                        <a class="text-white-50" href=" /carzise_contact.ejs"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 class="text-white text-uppercase mb-4">Popular Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="carserv_index.ejs"><i class="fa fa-angle-right me-2"></i>Carserv</a>
                        <a class="text-white-50 mb-2" href="carwash_index.ejs"><i class="fa fa-angle-right me-2"></i>Autowash</a>
                        <a class="text-white-50 mb-2" href="royalcar_index.ejs"><i class="fa fa-angle-right me-2"></i>RoyalCar</a>
                        <a class="text-white-50 mb-2" href="carwash_index.ejs"><i class="fa fa-angle-right me-2"></i>Autowash</a>

                    </div>
                </div>
                <div class="col-sm-12">
                    <h4 class="text-white text-uppercase mb-4">Any enquiry</h4>
                    <div class="w-100">
                        <div class="input-group">
                            <input type="text" class="form-control border-light" style="padding: 20px 30px;"
                                placeholder="Your Email Address"><button class="btn btn-primary px-4" ><a href="mailto:carzisee@gmail.com" ><b style="color:#fff">Submit</b></a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark bg-light-radial text-white border-top border-primary px-0">
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="py-4 px-5 text-center text-md-start">
            <p class="mb-0">&copy; <a class="text-primary" href="#">CARZISE</a>. All Rights Reserved.</p>
        </div>
        <div class="py-4 px-5 bg-primary footer-shape position-relative text-center text-md-end">
            <p class="mb-0">Designed by <a class="text-dark" href="https://htmlcodex.com">KS</a></p>
        </div>
    </div>
</div>
<!-- Footer End -->
</body>
</html>