<%- include('includes/header') %>


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">About</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="/">Home</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">About</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- About Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <h1 class="display-5 text-uppercase mb-4">We are <span class="text-primary">the Leader</span> Automobile
                    industry</h1>
                <h4 class="text-uppercase mb-3 text-body">Welcome to CARZISE, where we bring your dream car
                    to life! Whether you’re looking for cutting-edge technology, thrilling performance, or unmatched
                    comfort, we have the perfect vehicle for you.</h4>
                <p>Your dream car is just a click away! At CARZISE, we bring you the best vehicles,
                    combining style, performance, and value. Whether you're cruising through the city, embarking on a
                    road trip, or chasing adventure, we’ve got the perfect car to match your lifestyle.</p>
                <div class="row gx-5 py-2">
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Trust & Transparency</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Diverse Inventory</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Certified Pre-Owned</p>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Innovative Technology</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Family-Friendly Rides</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Affordable Pricing</p>
                    </div>
                </div>
                <p class="mb-4">Elevate every journey with a car that’s built for you. Whether you want cutting-edge
                    innovation, dependable performance, or the latest trends, we’ve got it all. At CARZISE,
                    we don’t just sell cars—we create driving experiences.</p>
                <img src="img/carzise/signature.jpg" alt="">
            </div>
            <div class="col-lg-5 pb-5" style="min-height: 400px;">
                <div class="position-relative bg-dark-radial h-100 ms-5">
                    <img class="position-absolute w-100 h-100 mt-5 ms-n5" src="img/carzise/about.jpg"
                        style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Appointment Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h1 class="display-5 text-uppercase mb-4">Request A <span class="text-primary">Call Back</span></h1>
                </div>
                <p class="mb-5">"Have questions? Chat with our experts for instant support!" We believe that owning a
                    car should be exciting, not stressful! That’s why we offer affordable financing plans, low-interest
                    rates, and flexible payment options to fit your budget. Plus, take advantage of our exclusive
                    discounts and special promotions to get the best value for your money. No matter your financial
                    situation, we’ll work with you to make car ownership a reality.</p>
                <a class="btn btn-primary py-3 px-5" href="/carzise_about">Learn more</a>
            </div>
            <div class="col-lg-8">
                <div class="bg-light text-center p-5">
                    <form>
                        <h1>Send Your Feedback</h1>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Your Name"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" placeholder="Your Email"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="text" class="form-control border-0 datetimepicker-input"
                                        placeholder="Call Back Date" data-target="#date" data-toggle="datetimepicker"
                                        style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="text" class="form-control border-0 datetimepicker-input"
                                        placeholder="Call Back Time" data-target="#time" data-toggle="datetimepicker"
                                        style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" rows="5" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->



    <%- include('includes/footer') %>


    