
<%- include('includes/header') %>


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Service</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a href="/dashboard">Home</a></h6>
            <h6 class="text-white m-0 px-3">/</h6>
            <h6 class="text-uppercase text-white m-0">Service</h6>
        </div>
    </div>
    <!-- Page Header Start -->


     <!-- Services Start -->
     <div class="container-fluid bg-light py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-4">We Provide <span class="text-primary">The Best</span> Automobile
                Services</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src=" /img/carzise/service-1.jpg" alt="">
                    <div class="service-icon bg-white">
                        <img class="ser" src=" /img/carzise/service1.png">
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">Buy car</h4>
                        <p>Explore a wide range of verified cars at competitive prices. Start browsing now and drive
                            home your perfect car.
                        </p>
                        <a class="btn text-primary" href="/AutoNova_index">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src=" /img/carzise/service-2.jpg" alt="">
                    <div class="service-icon bg-white">
                        <img class="ser" src=" /img/carzise/service2.png">
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">Car Wash</h4>
                        <p>Get a showroom shine with our premium car wash! Quick, affordable, and eco-friendly
                            cleaning for your vehicle.</p>
                        <a class="btn text-primary" href="/carwash_index">Read More <i class="bi 00bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src=" /img/carzise/service-3.jpg" alt="">
                    <div class="service-icon bg-white">
                        <img class="ser" src=" /img/carzise/service3.png">
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">Car Taxi</h4>
                        <p>Ride with Comfort and Reliability!Book our car taxi service for safe, affordable, and
                            hassle-free travel anytime, anywhere.</p>
                        <a class="btn text-primary" href="/royalcar_index ">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src=" /img/carzise/service-4.jpg" alt="">
                    <div class="service-icon bg-white">
                        <img class="ser" src=" /img/carzise/service4.png">
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">Sell Cars</h4>
                        <p>List your car in minutes and reach thousands of potential buyers. Get the best value for your
                            vehicle.</p>
                        <a class="btn text-primary" href="/AutoNova_index">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src=" /img/carzise/service-5.jpg" alt="">
                    <div class="service-icon bg-white">
                        <img class="ser" src=" /img/carzise/service5.png">
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">Car Repair</h4>
                        <p>Expert Car Repair Services! Fast, reliable, and affordable solutions to keep your car
                            running smoothly.</p>
                        <a class="btn text-primary" href="/carserv_index ">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                    <img class="img-fluid" src=" /img/carzise/service-9.jpg" alt="">
                    <div class="service-icon bg-white">
                        <img class="ser" src=" /img/carzise/service9.png">
                    </div>
                    <div class="px-4 pb-4">
                        <h4 class="text-uppercase mb-3">Garage Collection</h4>
                        <p>Discover Timeless Classics! Explore our exclusive collection of vintage and classic
                            cars for true automotive enthusiasts..</p>
                        <a class="btn text-primary" href="">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->



     

    <!-- feedback section -->

    <!-- Appointment Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h1 class="display-5 text-uppercase mb-4">Request A <span class="text-primary">Call Back</span></h1>
                </div>
                <p class="mb-5">"Have questions? Chat with our experts for instant support!" We believe that owning a
                    car should be exciting, not stressful! That's why we offer affordable financing plans, low-interest
                    rates, and flexible payment options to fit your budget. Plus, take advantage of our exclusive
                    discounts and special promotions to get the best value for your money. No matter your financial
                    situation, we'll work with you to make car ownership a reality.</p>
                <a class="btn btn-primary py-3 px-5" href="/carzise_about ">Learn more</a>
            </div>
            <div class="col-lg-8"> 
                <div class="bg-light text-center p-5">
                    <form id="feedbackForm" action="submit_feedback.php" method="POST">
                        <h1>Send Your Feedback</h1>
                        <div id="form-messages" class="alert d-none"></div>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" id="name" name="name" placeholder="Your Name" required
                                    style="height: 55px;">
                                <div class="invalid-feedback text-start">Please enter your name</div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" id="email" name="email" placeholder="Your Email" required
                                    style="height: 55px;">
                                <div class="invalid-feedback text-start">Please enter a valid email</div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="tel" class="form-control border-0" id="phone" name="phone" placeholder="Your Phone Number"
                                    style="height: 55px;">
                                <div class="invalid-feedback text-start">Please enter a valid phone number</div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-control border-0" id="subject" name="subject" style="height: 55px;" required>
                                    <option value="" disabled selected>Select Subject</option>
                                    <option value="General Inquiry">General Inquiry</option>
                                    <option value="Car Purchase">Car Purchase</option>
                                    <option value="Service Question">Service Question</option>
                                    <option value="Feedback">Feedback</option>
                                    <option value="Other">Other</option>
                                </select>
                                <div class="invalid-feedback text-start">Please select a subject</div>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" id="message" name="message" rows="5" placeholder="Message" required></textarea>
                                <div class="invalid-feedback text-start">Please enter your message</div>
                            </div>
                            <div class="col-12">
                                <div class="form-check text-start">
                                    <input class="form-check-input" type="checkbox" id="consent" name="consent" required>
                                    <label class="form-check-label" for="consent">
                                        I agree to the <a href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">privacy policy</a>
                                    </label>
                                    <div class="invalid-feedback">You must agree before submitting</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit" id="submitBtn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>

    <!-- Privacy Policy Modal -->
    <div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="privacyModalLabel">Privacy Policy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>CARZISE is committed to protecting your privacy. We collect personal information only when you voluntarily provide it to us through our feedback form. The information we collect includes:</p>
                    <ul>
                        <li>Your name</li>
                        <li>Email address</li>
                        <li>Phone number (optional)</li>
                        <li>Your message or inquiry</li>
                    </ul>
                    <p>We use this information to:</p>
                    <ul>
                        <li>Respond to your inquiries and provide customer support</li>
                        <li>Improve our products and services</li>
                        <li>Send you information about promotions or updates (only if you opt-in)</li>
                    </ul>
                    <p>We will not share, sell, or distribute your personal information to any third parties without your consent, except as required by law.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
  
    <!-- feedback section ends -->

  



    <!-- Testimonial Start --
    <div class="container-fluid bg-light py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-4">What Our <span class="text-primary">Happy Cleints</span> Say!!!</h1>
        </div>
        <div class="row gx-0 align-items-center">
            <div class="col-xl-4 col-lg-5 d-none d-lg-block">
                <img class="img-fluid w-100 h-100" src="img/carzise/testimonial.jpg">
            </div>
            <div class="col-xl-8 col-lg-7 col-md-12">
                <div class="testimonial bg-light">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="row gx-4 align-items-center">
                            <div class="col-xl-4 col-lg-5 col-md-5">
                                <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="img/carzise/testimonial-1.jpg" alt="">
                            </div>
                            <div class="col-xl-8 col-lg-7 col-md-7">
                                <h4 class="text-uppercase mb-0">Client Name</h4>
                                <p>Profession</p>
                                <p class="fs-5 mb-0"><i class="fa fa-2x fa-quote-left text-primary me-2"></i> Dolores sed duo
                                    clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem
                                    lorem magna ut labore et tempor diam tempor erat. Erat dolor rebum sit
                                    ipsum.</p>
                            </div>
                        </div>
                        <div class="row gx-4 align-items-center">
                            <div class="col-xl-4 col-lg-5 col-md-5">
                                <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="img/carzise/testimonial-2.jpg" alt="">
                            </div>
                            <div class="col-xl-8 col-lg-7 col-md-7">
                                <h4 class="text-uppercase mb-0">Client Name</h4>
                                <p>Profession</p>
                                <p class="fs-5 mb-0"><i class="fa fa-2x fa-quote-left text-primary me-2"></i> Dolores sed duo
                                    clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem
                                    lorem magna ut labore et tempor diam tempor erat. Erat dolor rebum sit
                                    ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -- Testimonial End -->


    <%- include('includes/footer') %>